{% if page.fb_app_id %}
  {% if site.serving %}
    {% assign facebook_app_id = page.fb_app_id %}
  {% else %}
    {% assign facebook_app_id = page.fb_test_app_id %}
  {% endif %}
{% else %}
  {% if site.serving %}
    {% assign facebook_app_id = '743581075722666' %}
  {% else %}
    {% assign facebook_app_id = '737512829662824' %}
  {% endif %}
{% endif %}

<script>
  {% if page.parse %}
  Parse.initialize('{{page.parse_app_id}}', '{{page.parse_js_key}}');
  window.fbAsyncInit = function() {
    Parse.FacebookUtils.init({
      appId      : '{{facebook_app_id}}',
      xfbml      : true,
      cookie     : true,
      version    : 'v2.1'
    });
  };
  {% else %}
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{facebook_app_id}}',
      xfbml      : true,
      version    : 'v2.1'
    });
  };
  {% endif %}

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
