/*
 *= require vendor/poole
 *= require vendor/syntax
 *= require vendor/lanyon
 *= require vendor/iconic
*/

.twitter-tweet {
  margin-bottom:1.5em !important;
}

.outline_box {
  border:1px #c0c0c0 solid;
  padding:10px;
}

#reading_time_mount {
    font-size:85%;
}

#reading_time_mount .clock {
    color: #c0c0c0;
}

#carbonads {
    font-size:85%;
    background-color:#eee;
    padding:0px;
    border-radius:5px;
}

#carbonads:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

#carbonads a {
    color:#666;
    text-decoration:none;
}

#carbonads a.carbon-poweredby {
    color:#999;
    font-size:90%;
}

.carbon-wrap {
    display:block;
}

.carbon-wrap .carbon-text {
    display:block;
    padding-top:10px;
}

.carbon-img img {
    float:left;
    border-radius:0px;
    padding-right:10px;
    margin:0px;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/public/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/public/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/public/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/public/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/public/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    /*margin-right: 0.3em;
    font-size: 130%;*/
}

a.symbol {
    text-decoration:none;
    border:none;
    font-size:200%;
}
